version: 2
jobs:
  build:
    docker:
       - image: thinkshout/nginx-php-fpm:php72
         environment:
           WEBROOT: /var/www/html/drupal-project/web
           GIT_EMAIL: "ci@thinkshout.com"
           GIT_NAME: "ThinkShout CI Bot"
           IS_CIRCLE: TRUE
         command: ["/start.sh"]
       - image: mariadb:10.0
         environment:
           MYSQL_RANDOM_ROOT_PASSWORD: 1
           MYSQL_DATABASE: drupal
           MYSQL_USER: drupal
           MYSQL_PASSWORD: drupal
      #  - image: thinkshout/docker-solr:3.6-pantheon
    working_directory: /var/www/html/drupal-project
    steps:
      - checkout
      - add_ssh_keys
      - run:
          name: Project configuration
          command: |
            export PATH="./vendor/bin:../vendor/bin:/root/.composer/vendor/bin:$PATH"
            composer global require -n "hirak/prestissimo:^0.3"
            composer global require -n "consolidation/cgr"
            cgr "pantheon-systems/terminus:~2"
            COMPOSER_MEMORY_LIMIT=-1 composer install --prefer-dist
            robo configure --db-name=drupal --db-user=drupal --db-pass=drupal --db-host=127.0.0.1
      - run:
          name: Install and test
          command: |
            export PATH="./vendor/bin:../vendor/bin:/root/.composer/vendor/bin:$PATH"
            robo install
            robo test --profile ci
#      - run:
#          name: Run CS tests
#          command: |
#             export PATH="./vendor/bin:../vendor/bin:/root/.composer/vendor/bin:$PATH"
#             phpcs --config-set installed_paths ../../drupal/coder/coder_sniffer/
#             phpcs --standard=Drupal --ignore=*/css/*,*/node_modules/*,*/dist/*,README.md /var/www/html/drupal-project/web/modules/custom /var/www/html/drupal-project/web/themes/custom
#      - deploy:
#          command: |
#            export PATH="./vendor/bin:../vendor/bin:/root/.composer/vendor/bin:$PATH"
#            terminus auth:login --machine-token=$PANTHEON_TOKEN
#            BRANCH_PATTERN='^[-0-9a-z]{1,11}$'
#            if [[ ${CIRCLE_BRANCH} =~  $BRANCH_PATTERN ]]; then
#              robo pantheon:deploy --install --y
#            fi
